<h1> Welcome!</h1>
Name:  <%= @user.name %><br>
Mood: <%= @user.mood %> <br>
Tickets: <%= @user.tickets %> <br>
Height: <%= @user.height %>


<%= link_to 'Attractions' , attractions_path %>
<%= link_to 'Log Out' , logout_path %>
